body {
  background-color: #000; /* Fundo preto */
  color: #fff; /* Texto branco */
  font-family: sans-serif;
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  background-color: #fff; /* Fundo branco para o menu */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li a {
  color: #000; /* Texto preto para os links do menu */
  text-decoration: none;
}

.form-container, .scanner-container {
  background-color: #fff; 
  padding: 20px;
  border-radius: 5px;
  color: #000; /* Define a cor do texto como preto dentro dos containers */
}

.form-container div {
  margin-bottom: 10px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-container button[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.ingressos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
}

.ingresso-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 300px; /* Largura fixa para os cards */
  box-sizing: border-box;
  color: #000;
  text-align: center;
  border: 1px solid #ccc; /* Adiciona uma borda */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
}

.ingresso-card button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px; 
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0);
 /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black   
 w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 
 30%; /* Could be more or less, depending on screen size */
  text-align: 
 center;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; 

}

.scanner-container video {
  width: 320px; 
  height: 240px;
}