body {
  background-color: #000; /* Fundo preto */
  color: #fff; /* Texto branco */
  font-family: sans-serif;
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  background-color: #fff; /* Fundo branco para o menu */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li a {
  color: #000; /* Texto preto para os links do menu */
  text-decoration: none;
}

.form-container, .scanner-container {
  background-color: #fff; 
  padding: 20px;
  border-radius: 5px;
  color: #000; /* Define a cor do texto como preto dentro dos containers */
}

.form-container div {
  margin-bottom: 10px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-container button[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.scanner-container video {
  width: 320px; 
  height: 240px;
}



.ingressos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.ingresso-card {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden; /* Para evitar que a imagem transborde */
  width: calc(50% - 10px); /* Dois cards por linha com espaçamento */
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
}

.ingresso-card img {
  width: 100%;
  height: auto;
}

.ingresso-info {
  padding: 10px;
  color: #000;
}